Código Index.css:

#Passos{
background-color: #0d1b2a;
color: white;
}
.step-container {
display: flex;
width: 80%;
max-width: 1200px;
}
.steps {
flex: 2;
padding: 40px;
}
.steps h1 {
font-size: 24px;
margin-bottom: 10px;
}
.steps p {
font-size: 16px;
margin-bottom: 40px;
}
.step {
display: flex;

align-items: flex-start;
margin-bottom: 20px;
}
.step-icon {
background-color: #00a896;
color: #0d1b2a;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
margin-right: 20px;
}
.step-details h2 {
margin: 0;
font-size: 18px;
}
.step-details p {
margin: 5px 0 0 0;
font-size: 14px;
}
.video-tutorial {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 135px;
}
.video-box {
padding: 20px;
border-radius: 10px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;

margin-top: 150px;
}
.video-box img {
width: 100%;
height: 100%;
}
.video-box p {
font-size: 14px;
}
@media screen and (max-width: 1100px){
.video-box > img {
display: none;
}
}
